body{
    overflow: scroll;
    background-image: url(img/perru.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    margin: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

header{
    
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 120px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
  }
  p{
    font-size: 20px;
    
  }
  .ubuntu-regular,  p, h1, h2, a, td {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .navbar-nav .nav-link {
    color: #ffffffd8;
}
.navbar-nav .nav-link:hover {
    color: #dddddd79;
}
.dropdown-item {
    color: #ffffff;
} 
.sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    
  }
  .navlink{
    color: #ffffff;
    text-decoration: none;
    
  }
